SECRET_KEY=change-me-local-dev-key
DEBUG=1
ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_DB=soc_usecases
POSTGRES_USER=soc_user
POSTGRES_PASSWORD=soc_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

LOG_DIR=/logs

# Produccion detras de HTTPS/reverse proxy
SECURE_SSL_REDIRECT=0
SESSION_COOKIE_SECURE=0
CSRF_COOKIE_SECURE=0
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=0
SECURE_HSTS_PRELOAD=0
USE_X_FORWARDED_PROTO=0
