.env
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/

staticfiles/
media/
*.log
logs/*
!logs/.gitkeep
app/logs/*
!app/logs/.gitkeep

.pytest_cache/
.coverage
htmlcov/

soc-control-manager-django-master/
visual-artifacts/
